{% extends "AppFinal/padre.html" %}
{% load static %}


<!-- Titulo-->
{% block contenidoDeTitulo %}

<h2>Formulario Carga de Clientes</h2>

{% endblock%}


<!-- ACCIÓN-->
{% block contenidoQueCambia %}

<form action="{% url 'clientesFormulario' %}" method="POST">{% csrf_token %}  <!-- Con esto se genera el token necesario para enviar los datos--> 
    <h1>Si desea registrarse como cliente,<br> ingrese sus datos:</h1>
    <table>
        {{miFormulario.as_table}}
    </table>
    <input type="submit" value="Cargar Cliente">        <!--- Acá se genera el boton para enviar los datos -->
</form>
<div class="col-lg-4">
    <p class="lead mb-2">
        <br>Si desea buscar algún cliente,
        <a href="{% url 'busquedaClientes'%}">clic aquí</a>
        .
    </p>
</div>
{% endblock %}
