{% extends "AppFinal/padre.html" %}
{% load static %}


<!-- Titulo-->
{% block contenidoDeTitulo %}

<h2>Formulario de Productos</h2>

{% endblock%}


<!-- ACCIÓN-->
{% block contenidoQueCambia %}

<form action="{% url 'productosFormulario' %}" method="POST">{% csrf_token %} 
    <h3>Para ingresar un nuevo producto, <br>ingrese nombre y número de articulo del mismo:</h3>
    <table>
        {{miFormulario.as_table}}
    </table>
    <input type="submit" value="Ingresar">        
</form>

<div class="col-lg-4">
    <p class="lead mb-2">
        <br>Si desea buscar algún producto,
        <a href="{% url 'busquedaProductos'%}">clic aquí</a>
        .
    </p>
</div>
{% endblock %}
