{% extends "AppFinal/padre.html" %}
{% load static %}

{% block contenidoDeTitulo %}
<h3>Resultado de su Busqueda:</h3>
{% endblock%}


{% block contenidoQueCambia %}
<h5>
    Resultado del cliente con email: {{emial}}
</h5>
{% if clientes%}          <!-- Si encuentra lo buscado entra acá-->
<ul> 
    {% for cliente in clientes%}     <!-- ciclo for para ir mostrando los cursos que cumplen mi condición-->

    <h6>-Nombre del cliente: {{cliente.nombre}}.</h6> 
    <br> 
                        
    {% endfor%}
</ul>
{% endif %}
{% endblock %}